@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*Font Elements*/
  --fs-small: 0.8rem;
  --fs-reg: 1.1rem;
  --fs-large: 1.5rem;
  --fc-dark:;
  --fc-reg: hsl(15, 5%, 70%);
  /*Other Elements*/
  --bg-color: hsl(220, 80%, 20%);
  --brdr-color: hsl(20, 10%, 30%);
  /*Body Elements*/
  --body-bg-color: hsl(251, 100%, 10%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: var(--fs-reg);
  color: var(--fc-reg);
}

body {
  height: 100vh;
  font-family: "Roboto", "Segoe UI", Tahoma, sans-serif;
  background-color: var(--body-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.appContainer {
  background-color: var(--bg-color);
  border: 3px outset var(--brdr-color);
  padding: 1rem;
  border-radius: 25px;
  width: 375px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.headerArea {
  display: flex;
  justify-content: space-between;
}

.locationDisplay {
  display: flex;
}

.locationIcon {
  margin-inline: 0.25rem;
}

form {
  display: none;
}
