@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*Font Elements*/
  --fs-small: 0.85rem;
  --fs-reg: 1rem;
  --fs-large: 2.5rem;
  --fc-alt: hsl(10, 10%, 20%);
  --fc-reg: hsl(20, 20%, 90%);
  --fc-error: hsl(0, 75%, 49%);
  /*Other Elements*/
  --bg-color: hsl(220, 80%, 20%);
  --bg-color-alt: hsl(220, 32%, 35%);
  --brdr-color: hsl(20, 10%, 30%);
  /*Body Elements*/
  --body-bg-color: hsl(0, 0%, 11%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: var(--fs-reg);
  color: var(--fc-reg);
}

body {
  height: 100vh;
  font-family: "Roboto", "Segoe UI", Tahoma, sans-serif;
  background-color: var(--body-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.appContainer {
  --width: 335px;
  background-color: var(--bg-color);
  border: 3px outset var(--brdr-color);
  padding: 1.25rem;
  border-radius: 25px;
  width: var(--width);
  height: calc(var(--width) * 0.6);
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationWrapper {
  max-width: 50%;
}

.locationDisplay {
  /* display: flex; */
  display: none;
}

.locationText:hover {
  cursor: pointer;
  filter: brightness(90);
}

.locationIcon {
  margin-inline-end: 0.25rem;
  height: 1.25rem;
  filter: brightness(90%);
}

form {
  /* display: none; */
  display: flex;
  position: relative;
}

.locationInput {
  color: var(--fc-reg);
  width: 100%;
  background-color: var(--bg-color-alt);
  border-radius: 10px;
  padding-inline-start: 0.5rem;
}

.locationInput::placeholder {
  color: var(--fc-reg);
}

.locationSubmitBtn {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  padding: 0;
  transition: scale 0.03s ease-in-out;
}

.locationSubmitBtn:hover {
  scale: 1.1;
  cursor: pointer;
}

.locationSubmitBtn:active {
  scale: 0.9;
}

.mainArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tempDisplay {
  font-size: var(--fs-large);
}

.wrapper {
  display: flex;
}

.footerArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.secondary {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-alt);
  border-radius: 15px;
  padding-inline: 0.6rem;
  padding-block: 0.25rem;
}

.secondary img {
  filter: brightness(0.85);
}

.weatherIcon {
  filter: invert();
  height: 4.5rem;
  padding-inline-end: 0.25rem;
}

.secondaryIcon {
  filter: invert();
  height: calc(var(--fs-reg) * 1.2);
}
.secondaryValue {
  font-size: var(--fs-small);
}
